@use '../../styles/partials/colors' as *;
@use '../../styles/partials/media' as *;
@use '../../styles/partials/fonts' as *;
@use '../Header/Header.scss' as *;

.form {
    display: flex;

    @include desktop {
        margin: 0 13rem;
    }

    &__label {
        @include subheading;
        color: $silver;
    }

    &__input {
        @include body-text;
        width: 100%;
        height: 2.25rem;
        padding: 0;
        margin-bottom: 1rem;
        margin-top: 0.25rem;
        border: 1px solid $mercury;
        border-radius: 4px;
        text-indent: 0.75rem;
        background-color: $alabaster;
    }

    &__input--comment {
        @extend .form__input;
        height: 5.25rem;
        padding: 1rem 0;

        @include tablet {
            height: 2rem;
            padding: 0.4rem 0;
        }

        @include desktop {
            height: 4.25rem;

        }
    }


    &__fields {
        width: 100%;

        @include tablet {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
    }
}

.form__section {
    margin: 0 1rem;
}

.form__heading {
    @include subheading;
}

.form__button {
    @extend .header__button;
    margin: 0;
    width: 100%;

    @include tablet {
        width: 25%;
    }
}