@use '../../styles/partials/media' as *;
@use '../../styles/partials/fonts' as *;
@use '../../styles/partials/colors' as *;

.hero {
    padding: 0 1rem;

    @include tablet {
        padding: 0 2rem;
    }

    @include desktop {
        padding: 0 6rem;
    }
}

.hero__banner {
    background-color: $secondary-black;
    margin-top: 1rem;

    @include tablet {
        margin-top: 0;
    }


}

.hero__video {
    width: 100%;

    @include tablet {
        margin: 0;
        width: 90%;
        padding: 0 2.5rem;
    }

    @include desktop {
        width: 60%;
        padding: 0 12.5rem;
    }
}

.hero__heading {
    @include section-heading;

    @include tablet {
        @include page-heading;
        margin-bottom: 0;
    }
}

.divider {
    border-top: 1px solid $mercury;
}

.divider--hero-top {
    @extend .divider;

    @include tablet {
        display: none;
    }
}

.hero__details {
    display: flex;
}

.hero__details--left {
    flex: 1;

    @include tablet {
        display: flex;
    }
}

.hero__details--right {
    flex: 1;

    @include tablet {
        display: flex;
        justify-content: flex-end;
    }
}

.hero__data {
    @include body-text;
    display: inline-block;
    color: $silver;

}

.hero__data--channel {
    @include subheading;

    @include tablet {
        margin-right: 2.5rem;
    }
}

.hero__icons {
    margin: 0 1rem;
    height: 1.3rem;
}

.hero__description {
    @include body-text;
}